# Dev and lock files
.idea/
*.lock

# Chart dependencies
**/charts/*.tgz

# Local .terraform directories
**/.terraform/*

# Terrform files
*.tfstate
*.tfstate.*
**/.terraform.lock.hcl
provision/**/kubeconfig*

# Key files
google.json
cloudflare.ini
config
client.ovpn