# Dev and lock files
.idea/
*.lock

# Chart dependencies
**/charts/*.tgz

# Local .terraform directories
**/.terraform/*

# Terrform files
*.tfstate
*.tfstate.*
terraform/.terraform.lock.hcl

# Key files
google.json
cloudflare.ini